.travelHighlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}

.titleTravelHighlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photosCountry {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photosWrapper {
    display: flex;
    gap: 24px;
}

.photoCountry {
    width: 350px;
    height: 250px;
    background: #D9D9D9;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .titleTravelHighlights{
        display: none;
    }



    .travelHighlightsImage {
        width: 358px;
        height: 173px;
    }

    .photosWrapper .photoCountry:nth-child(1) {
        display: none;
    }
}