.AboutUsIntroduction_Con {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 130px;
    box-sizing: border-box;
    gap: 82px;
}

.Con_Bl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 843px;
    width: 100%;
}

.Con_Bl > h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    margin: 0;
    padding: 0 0 10px 0;
    color: rgba(56, 56, 56, 1);
}

.Bl_Content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Content_Text > h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: rgba(28, 172, 120, 1);
    margin: 0;
    padding: 0 0 6px;
}

.Content_Text > p {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(74, 76, 75, 1);
    margin: 0 0 16px 0;
    padding: 0;
}

.Content_Img > img {
    max-width: 843px;
    width: 100%;
}

.Content_Img_Med > img {
    display: none;
}

.Text_Paragraphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.Text_Paragraphs > p > span {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: rgba(74, 76, 75, 1);
    margin: 0;
    padding: 0;
}

.Text_Paragraphs > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(74, 76, 75, 1);
    margin: 0;
    padding: 0;
}

.Content_Cards > h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: rgba(28, 172, 120, 1);
    margin: 0;
    padding: 0;
}

.Cards {
    display: flex;
    justify-content: center;
    transition: 0.4s ease;
    gap: 16px;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 270px;
    height: auto;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    transition: 0.4s ease;
    box-sizing: border-box;
}


.Card > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(74, 76, 75, 1);
    margin: 0;
    padding: 0;
}

.Card > h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(74, 76, 75, 1);
    margin: 0;
    padding: 0;
}

.Card > img {
    max-width: 43px;
    max-height: 43px;
    margin: 0;
    padding: 0;
}

.Text_Line1 {
    border: 1px solid rgba(28, 172, 120, 1);
    width: 70px;
    margin: 5px 0 7px;
}

.Text_Line2 {
    border: 1px solid rgba(28, 172, 120, 1);
    width: 105px;
    margin: 5px 0 7px;
}

.Text_Line3 {
    border: 1px solid rgba(28, 172, 120, 1);
    width: 139px;
    margin: 5px 0 17px;
}

.Text_Line4 {
    border: 1px solid rgba(28, 172, 120, 1);
    width: 140px;
    margin: 5px 0 15px;
}

.destination {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    max-height: 254px;
    max-width: 295px;
    width: 100%;
}

@media (max-width: 1290px) {
    .Cards {
        flex-wrap: wrap;
    }

    .Card {
        flex-shrink: 0;
        flex-grow: 1;
    }
}

@media (max-width: 870px) {
    .AboutUsIntroduction_Con {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 652px) {
    .Card {
        width: 100%;
    }

    .destination {
        width: 85%;
    }
}

@media (max-width: 390px) {
    .Content_Img > img {
        display: none;
    }

    .Content_Img_Med > img {
        display: flex;
        width: 100%;
    }
}
