.TravelDestinations {
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.TravelDestinations h3,ul {
    list-style: none;
    text-align: start;
    padding: 0;
    margin: 0;
}

.TravelDestinations li {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.TravelDestinations li:hover {
    color: #1CAC78;
}



@media (max-width: 1150px) {
    .TravelDestinations {
        display: none;
    }
}