.tour_types {
    margin-top: 200px;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.tour_types_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    margin-top: 24px;
    justify-items: stretch;
}

@media (max-width: 1150px) {

    .tour_types {
        margin-top: 100px;
    }

    .tour_types_grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 950px) {
    .tour_types_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .tour_types_grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}


@media (max-width: 600px) {

    .container {
        padding: 0 16px;
    }

    .tour_types_grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .tour_type {
        margin-top: 16px;
    }
}


.tour_type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.tour_types_grid .tour_type:first-child {
    margin-top: 0;
}
