.bg__group {
    background-image: url("../../../assets/Images/group.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 468px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px; /* Добавляем отступы по бокам */
}

.titile__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px; /* Добавляем отступы по бокам */
}

.bg__group h2 {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    color: white;
    margin-top: 100px;
    margin-bottom: 16px; /* Уменьшение отступов для мобильных */
}

.bg__group span {
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: white;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .bg__group {
        height: auto; /* Автоматическая высота для адаптивности */
        padding: 50px 20px; /* Отступы вокруг контента */
        background-position: top center; /* Сместим изображение к верху */
    }

    .bg__group h2 {
        font-size: 48px;
        line-height: 56px;
        margin-top: 20px; /* Уменьшаем отступ сверху */
    }

    .bg__group span {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px; /* Уменьшаем отступ снизу */
    }
}
