.header {
    background-color: white;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 100px;
}

.upperHeader {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 16px;
}

.contactContainer {
    display: flex;
}

.contactContainer a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.flex, .flex2, .flex3 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex2, .flex3 {
    padding-left: 36px;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 19px;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 33px;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    color: white;
}

.logoContainer h2 {
    font-weight: 300;
    color: #1CAC78;
}

.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
    margin-left: 9%;
}

.navigationContainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationContainer li {
    position: relative;
}

.navigationLink  {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    padding: 12px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.navigationContainer a:hover {
    background-color: #1CAC78;
    color: white;
    border-radius: 5px;
}

.navigationContainer span {
    font-size: 18px;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 300;
}

.dropdownModals {
    position: absolute;
    top: 100%;
    left: 25%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    animation: slideDown 0.3s ease-in-out;
    z-index: 10;
}

.dropdownModalDestination ul, .dropdownModalTour ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdownModalDestination li, .dropdownModalTour li {
    display: flex;
    padding: 8px 16px;
    color: #1CAC78;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdownModalDestination li:hover, .dropdownModalTour li:hover {
    background-color: #1CAC78;
    color: black;
}

.dropdownItem {
    text-decoration: none;
    color: #1CAC78;
    font-size: 18px;
    font-weight: 300;
    padding: 12px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.searchLanguageContainer {
    margin-left: auto;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
}

.searchIcon {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.searchIcon2 {
    display: none;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.languageContainer {
    display: flex;
    align-items: center;
    color: black;
}

.dropDown {
    font-size: 25px;
}

.mobileNav {
    display: flex;
}

.burger-btn {
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
    background: transparent;
    border: none;
    margin-left: 10px;
}

.burger-btn span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 1300px) {
    .navigationContainer {
        margin-left: 4%;
    }

    .navigationContainer ul {
        gap: 16px;
    }
}

@media (max-width: 1150px) {
    .burger-btn {
        display: flex;
    }

    .headerRow {
        margin-top: 0;
    }
}

@media (max-width: 1150px) {
    .header {
        margin-top: 0;
    }

    .headerRow {
        padding-top: 12px;
        margin-top: 0;
    }

    .searchIcon2 {
        display: block;
    }

    .container {
        padding: 0 16px;
    }

    .navigationContainer {
        display: none;
    }

    .searchLanguageContainer {
        display: none;
    }

    .burger-btn {
        display: flex;
    }
}

@media (max-width: 680px) {

    .LogoContainer h2{
        font-size: 12px;
    }

    .upperHeader {
        display: none;
    }
}
